@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #081b29;
    color: #ededed;

}

.Home {
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-context {
    max-width: 600px;
}

.home-context h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-context h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-context p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 2s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: 2s;
}

.home-sci a:hover::before {
    width: 100%;
}

.header-right img {
    float: right;
    width: 20%;

}

.header-right {
    position: absolute;
    width: 70%;
}

.clear {
    clear: both;
}

.project {
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.project-content {
    max-width: 600px;
}

.project-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.project-content h1 {
    font-size: 32px;
    font-weight: 700;
}

.icons {
    background: #302a4a;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.icons a {
    color: bisque;
    font-size: 20px;
    font-weight: bold;
}

.Skill-pro img {
    margin: 20px;
}
.Skill-pro h1{
    color: #00abf0;
    font-size: 30px;
    text-decoration: underline;

}
.Contact-pro h1{
    color: #00abf0;
    font-size: 30px;
    text-decoration: underline;
}
.Contact-pro iframe{
    margin: 20px;
}
.Footer-pro{
    color:rgb(54, 130, 206);
    font-weight: bold
}
